---
actTitle: Protected Travel and Mutual Defense Act
actNumber: "6195"
section: ""
title: ""
publication: published
relatedStories: []
contradictedBy: []
status: active
---

Provision text begins here.
