---
title: ""
urlSlug: ""
summary: ""
author: aj-reid
publication: published
storyStatus: announced
contentType: short-story
language: en
expectedSceneCount:
firstPublishedAt:
contentWarnings: []
characters: []
locations: []
organizations: []
folk: []
actSections: []
featuredActSection:
themes: []
collections: []
---

Optional formatted story introduction.
